<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>{{APP_NAME}} - Login</title>
</head>

<body>
    <section class="material-half-bg">
        <div class="cover"></div>
    </section>
    <section class="login-content">
        <div class="logo">
            <h1>{{APP_NAME}}</h1>
        </div>
        <div class="login-box">
            {% if form.errors %}
            <div class="alert alert-danger">
                Username atau Password kamu salah. Silahkan coba kembali.
            </div>
            {% endif %}
            {% load widget_tweaks %}

            <form class="login-form" method="post" action="{% url 'login' %}" novalidate>
                {% csrf_token %}
                <h3 class="login-head"><i class="bi bi-person me-2"></i>SIGN IN</h3>
                <div class="mb-3">
                    <label class="form-label">USERNAME</label>
                    {% if form.is_bound %}
                    {% if form.username.errors %}
                    {% render_field form.username class="form-control is-invalid" %}
                    {% else %}
                    {% render_field form.username class="form-control is-valid" %}
                    {% endif %}
                    {% else %}
                    {% render_field form.username class="form-control" %}
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label class="form-label">PASSWORD</label>
                    {% if form.is_bound %}
                    {% if form.password.errors %}
                    {% render_field form.password class="form-control is-invalid" %}
                    {% else %}
                    {% render_field form.password class="form-control is-valid" %}
                    {% endif %}
                    {% else %}
                    {% render_field form.password class="form-control" %}
                    {% endif %}
                </div>
                <div class="mb-3">
                    <div class="utility">
                    </div>
                </div>
                <div class="mb-3 btn-container d-grid">
                    <button class="btn btn-primary btn-block"><i class="bi bi-box-arrow-in-right me-2 fs-5"></i>SIGN
                        IN</button>
                </div>
            </form>
        </div>
    </section>
    <!-- Essential javascripts for application to work-->
    <script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript">
        // Login Page Flipbox control
        $('.login-content [data-toggle="flip"]').click(function () {
            $('.login-box').toggleClass('flipped');
            return false;
        });
    </script>
</body>

</html>